@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'outfitSemiBold';
  --font-geist-mono: 'lora';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.outfitSemiBold {
  font-family: var(--font-geist-sans);
}

.lora {
  font-family: var(--font-geist-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.go-fullscreen {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* z-index: 9999;
  overflow: hidden; */
  overflow: scroll;
  position: fixed;

}

.align-cards {
  top: 0;
  left: 0;
  height: 100%;
  width: 38.2%;
  overflow: show;
}

.align-intro{
  position: sticky;
  top: 0;
  right: 0;
  overflow: visible;
  width: 61.8%;
}

/* cuter scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}